.movieCard {
  .cover {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150%;
    position: relative;
    margin: -15px -15px 0 -15px;

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 61%,
        rgba(0, 0, 0, 0.5) 75%,
        rgba(0, 0, 0, 1) 100%
      );
      transition: background-color 300ms ease-in-out;

      h2 {
        margin-top: 0;
        color: #fff;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &:hover .cover > div {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
