.movieCard {
  .cover {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150%;
    position: relative;
    margin: -15px -15px 0 -15px;

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
    }
  }
}
